@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109,109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
body{
  font-family: "Roboto Condensed", sans-serif;
}
/***************NavBar**************/
nav{
  z-index: 2;
}
.logo{
  width:12rem;
  height:4rem;
}
/******** Nav links *************/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;

}
/* nav ul li {
  text-transform: uppercase;
} */
.navbar-nav > .main-nav {
  font-size: .7rem;
  margin-right: 0.98rem;
  margin-left: 0.98rem;
  color: var(--primary-white) !important ;
  border-top: 0.1875rem solid var(--primary-dark);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0895rem;
  cursor: pointer;
  text-decoration: none;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0!important;
  height: 6rem !important;
}
/* .navbar-nav > li > a.active, .navbar-nav > nav-item > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
} */
/* .navbar-nav > nav-item > linkt.active{
  border-top: 0.1875rem solid var(--primary-orange);

} */
.main-nav-active{
  border-top: 0.1875rem solid var(--primary-hover-red);
}

.main-nav{
  color: var(--primary-white);
}
.main-nav:hover{
  border-top: 0.1875rem solid var(--primary-hover-red);
  
}
.main-nav:focus{
  border-top: 0.1875rem solid var(--primary-hover-red);
 
}

/* .navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange); 
} */

/******** Header *************/
.header-wrapper{
  position: relative;
  background: url(about-background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}
.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index:1;
}
/********Projects**********/
.projects{
  position: relative;
  background: url(about-background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
.aboutme {
  position: relative;
  background: url(about-background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
.experience {
  position: relative;
  background: url(about-background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}
.contactme {
  position: relative;
  background: url(about-background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;

}
.main-info-projects{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  text-transform: uppercase;
  z-index:1;
  font-family: "Roboto Condensed", sans-serif;
  

}
.main-info-projects h1{
  color:var(--primary-red);
  text-transform: uppercase;

}
.typed-text-projects{
  font-size: 2rem;
  color:var(--primary-white);
}




.main-info h1{
  color: black;
  text-transform: uppercase;

}
/******** Typed-text *************/
.typed-text {
  font-size: 2rem;
  color: black;

}
/******** Header Main Offer Button *************/

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: black;
  margin: 2rem;
  
}
.btn-main-offer:hover{
  text-decoration:none;
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out;
}

/******** Particles *************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;

}
/************footer********/
.footer-icons{
  width:1.5rem;
  height:1.5rem;
}
/******About*********/
.aboutme{
  width: 100;
  padding: 4.875rem 0rem;
}

.aboutme img{
  height: 22.25rem;
  width: 22.25rem;
  border-radius: 50%;
  border-color:var(--primary-red);
  border-style: solid;
}
.about-text{
  width: 34.375rem;


}
.about-text h1{
  color: var(--primary-white);
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom:1.25rem ;
}
.about-text h5{
  color: var(--primary-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom:2.25rem ;
  letter-spacing: 0.125rem;
}
.about-text p {
  color: var(--primary-white);
  letter-spacing: 0.0625rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
  margin-bottom: 2.8125rem;
}
.red{
  color: var(--primary-hover-red);
}
.mainabt{
  width: 70.625rem;
  max-width:95%;
  margin:0 auto ;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Condensed", sans-serif;

}
button{
  background: var(--primary-red);
  color: var(--primary-white);
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-weight: bold;
  padding: 0.8125rem 1.875rem;
  border-radius: 1.875rem;
  transition: .4s;
}
button:hover{
  background: transparent;
  cursor: pointer;
  border: 0.125rem solid var(--primary-red);

}

/* @media(max-width:768px){
  .particles-canvas {
    display: none;
  }
} */